<div class="row align-items-center">
  <div class="col-md-6 col-lg-7">
    <img src="vendors/images/register-page-img.png" alt="">
  </div>
  <div class="col-md-6 col-lg-5">
    <div class="login-box bg-white box-shadow border-radius-10">
      <div class="login-title">
        <h2 class="text-center text-primary">Register To DeskApp</h2>
      </div>
      <form method="POST">
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Email Address*</label>
          <div class="col-sm-8">
            <input type="email" name="email" class="form-control">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Username*</label>
          <div class="col-sm-8">
            <input type="text" name="username" class="form-control">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Password*</label>
          <div class="col-sm-8">
            <input type="password" name="password" class="form-control">
          </div>
        </div>
        {{!-- <div class="form-group row">
          <label class="col-sm-4 col-form-label">Confirm Password*</label>
          <div class="col-sm-8">
            <input type="password" class="form-control">
          </div>
        </div> --}}
        <div class="row">
          <div class="col-sm-12">
            <div class="input-group mb-0">
                <input class="btn btn-primary btn-lg btn-block" type="submit" value="Register to Create Account">
            </div>
            <div class="font-16 weight-600 pt-10 pb-10 text-center" data-color="#707373">OR</div>
            <div class="input-group mb-0">
              <a class="btn btn-outline-primary btn-lg btn-block" href="/login">Login</a>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>