<div class="header">
  <div class="header-left">
    <div class="menu-icon dw dw-menu"></div>
    <div class="search-toggle-icon dw dw-search2" data-toggle="header_search"></div>

    {{>header/search-bar}}

  </div>
  <div class="header-right">
    
    {{>header/user-notifications}}

    {{>header/user-info}}

    {{>header/settings}}
  
  </div>
</div>