<!DOCTYPE html>
<html>

  {{>auth/head}}

<body class="login-page">
  
  {{>auth/header}}

	<div class="register-page-wrap d-flex align-items-center flex-wrap justify-content-center">
		<div class="container">
			{{{body}}}
		</div>
	</div>

  {{>auth/modal}}
	
  {{>auth/scripts}}

</body>

</html>