<!DOCTYPE html>
<html>
  {{>head}}
<body>
	{{>preloader}}

	{{>header}}

	{{>sidebar-right}}

	{{>sidebar-left}}
	
  {{>mobile-overlay}}

	<div class="main-container">
    <div class="pd-ltr-20">

		  {{{body}}}

      {{>footer}}

    </div>
	</div>
	{{>scripts}}
</body>
</html>