<div class="brand-logo">
  <a href="/">
    <img src="vendors/images/deskapp-logo.svg" alt="" class="dark-logo">
    <img src="vendors/images/deskapp-logo-white.svg" alt="" class="light-logo">
  </a>
  <div class="close-sidebar" data-toggle="left-sidebar-close">
    <i class="ion-close-round"></i>
  </div>
</div>