<div class="header-search">
  <form>
    <div class="form-group mb-0">
      <i class="dw dw-search2 search-icon"></i>
      <input type="text" class="form-control search-input" placeholder="Search Here">
      <div class="dropdown">
        <a class="dropdown-toggle no-arrow" href="#" role="button" data-toggle="dropdown">
          <i class="ion-arrow-down-c"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <div class="form-group row">
            <label class="col-sm-12 col-md-2 col-form-label">From</label>
            <div class="col-sm-12 col-md-10">
              <input class="form-control form-control-sm form-control-line" type="text">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-12 col-md-2 col-form-label">To</label>
            <div class="col-sm-12 col-md-10">
              <input class="form-control form-control-sm form-control-line" type="text">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-12 col-md-2 col-form-label">Subject</label>
            <div class="col-sm-12 col-md-10">
              <input class="form-control form-control-sm form-control-line" type="text">
            </div>
          </div>
          <div class="text-right">
            <button class="btn btn-primary">Search</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>