<div class="dashboard-setting user-notification">
  <div class="dropdown">
    <a class="dropdown-toggle no-arrow" href="javascript:;" data-toggle="right-sidebar">
      <i class="dw dw-settings2"></i>
    </a>
  </div>
</div>