<div class="user-info-dropdown">
  <div class="dropdown">
    <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown">
      <span class="user-icon">
        <img src="vendors/images/photo1.jpg" alt="">
      </span>
      <span class="user-name">Ritchie Casabuena</span>
    </a>
    <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
      <a class="dropdown-item" href="/profile"><i class="dw dw-user1"></i> Profile</a>
      <a class="dropdown-item" href="/settings"><i class="dw dw-settings2"></i> Setting</a>
      <a class="dropdown-item" href="/faq"><i class="dw dw-help"></i> Help</a>
      <a class="dropdown-item" href="/logout"><i class="dw dw-logout"></i> Log Out</a>
    </div>
  </div>
</div>