<div class="login-header box-shadow">
  <div class="container-fluid d-flex justify-content-between align-items-center">
    <div class="brand-logo">
      <a href="login.html">
        <img src="vendors/images/deskapp-logo.svg" alt="">
      </a>
    </div>
    <div class="login-menu">
      <ul>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
      </ul>
    </div>
  </div>
</div>