<!-- success Popup html Start -->
<button type="button" id="success-modal-btn" hidden data-toggle="modal" data-target="#success-modal" data-backdrop="static">Launch modal</button>
<div class="modal fade" id="success-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered max-width-400" role="document">
    <div class="modal-content">
      <div class="modal-body text-center font-18">
        <h3 class="mb-20">Form Submitted!</h3>
        <div class="mb-30 text-center"><img src="vendors/images/success.png"></div>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      </div>
      <div class="modal-footer justify-content-center">
        <a href="login.html" class="btn btn-primary">Done</a>
      </div>
    </div>
  </div>
</div>
<!-- success Popup html End -->